<ul id="msgs" style="list-style: none; min-height:400px; border: 1px solid; padding: 10px;">
  <%= for message <- @messages do %>
    <li><strong> <%= message.user_id %> : </strong> <%= message.msg %> </li>
  <% end %>
</ul>

<%= render "form.html", assigns %>