<h2><%= @chat.board_user_id %></h2>
<%= for msg <- @chat.messages do %>
  <p><%= msg.user_id %>: <%= msg.msg %></p>
<% end %>

<div class="form-group">
  <%= form_for @chat, "#", [phx_submit: :msg], fn _f -> %>
    <%= text_input :chat, :msg, placeholder: "Send a message..." %>
    <%= hidden_input :chat, :user_id, value: @current_user.id %>
    <%= hidden_input :chat, :board_user_id, value: @chat.board_user_id %>
    <%= submit "submit" %>
  <% end %>
</div>